---

- name: install inotify-tools
  apt: pkg=inotify-tools force=yes
  when: docker_uses_upstart

- name: install docker-py
  pip: name=docker-py version="{{ docker_py_version }}"

- name: install docker-rotate
  pip: name=dockerrotate version="{{ docker_rotate_version}}"

- name: install docker-rotate cron script
  copy: src=docker-rotate dest=/etc/cron.daily/ mode=755

- name: push logrotate config file for docker container json logs
  template: src=logrotate.conf.j2 dest=/etc/logrotate.d/docker

- name: install docker zombie volumes cleanup cron script
  copy: src=clear-zombie-docker-data-dirs dest=/etc/cron.daily/ mode=755

- name: push docker configuration
  template: src=docker.j2 dest=/etc/default/docker
  notify: restart docker

- name: install docker-compose
  pip:
    name: docker-compose
    state: "{{ (docker_compose_version == 'latest') | ternary('latest', 'present') }}"
    version: "{{ (docker_compose_version == 'latest') | ternary(omit, docker_compose_version) }}"
  when: docker_compose_version is defined

# make sure docker restarts to get the newest configuration
- meta: flush_handlers

- name: pull useful images for future use
  command: docker pull {{ item }}
  register: docker_result
  changed_when: '"Downloaded newer image for" in docker_result.stdout'
  with_items:
    - busybox
    - ubuntu-debootstrap:14.04

