{% for item in docker_base_extra_python_requirements %}
{{ item }}
{% endfor %}
docker-py{{ '' if docker_py_version == 'latest' else ('==' + docker_py_version) }}
dockerrotate=={{ docker_rotate_version }}
{% if docker_compose_version is not none and docker_compose_version != '' %}
docker-compose{{ '' if docker_compose_version == 'latest' else ('==' + docker_compose_version) }}
{% endif %}